.stopwatch {
    color: antiquewhite;
    position: absolute;
    top: 500px;
    left: 260px;
}

.numbers {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buttons > button {
    color: aliceblue;
    background-color: rgb(58, 61, 63);
}