.stopwatch {
    
    color: rgb(255, 255, 255);
    position: absolute;
    top: 460px;
    left: 260px;
}

.numbers {
    font-size: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

.buttons > button {
    font-family: 'Open Sans Condensed', sans-serif;
    color: aliceblue;
    background-color: rgb(58, 61, 63);
    border-radius: 10px;
}

.buttons {
    margin-left: 12px;
}